/* Reset default margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./images/unshamp1.jpg');
  background-size: cover;
  background-position: center;
}

.auth-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}
.title-container {
  position: relative; /* So we can manipulate only the title */
}

h2 {
  text-align: center;
  gap:20px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

label {
  font-size: 14px;
  color: #333;
}

input,
select,
textarea,
button {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #45a049;
}

textarea {
  resize: vertical;
}

form .full-width {
  grid-column: span 2;
}

p {
  text-align: center;
  margin-top: 10px;
  color: #007bff;
  cursor: pointer;
}

p:hover {
  text-decoration: underline;
}
